.support {
    position: absolute;
    top: 214px;
    left: 566px;
    width: 877px;
    height: 1255px;
}

.btn-ret {
    padding: 5px 15px;
    background-color: var(--color-springgreen);
    border: 1px solid var(--color-springgreen);
    color: white;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-19xl);
    top: 187px;
    left: 596px;
    width: 308px;
    height: 128px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-dm-sans);
}

.btn-ret a {
    color: var(--color-white);
}

.btn-ret:hover {
    color: inherit;
    background-color: var(--color-gray-300);
}

.btn-pos {
    padding: 5px 15px;
    background-color: var(--color-springgreen);
    border: 1px solid var(--color-springgreen);
    color: white;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    top: 0;
    left: 0;
    border-radius: var(--br-19xl);
    width: 196.35px;
    height: 60px;
}

.btn-pos a {
    color: var(--color-white);
}

.btn-pos:hover {
    color: inherit;
    background-color: var(--color-gray-300);
}

.boutonsajout {
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid var(--color-springgreen);
    color: white;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    right: 200px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    top: 0;
    left: 0;
    border-radius: var(--br-19xl);
    width: 196.35px;
    height: 60px;
}

.boutonsajout a {
    color: var(--color-white);
}

.boutonsajout:hover {
    color: inherit;
    background-color: var(--color-springgreen);
}


.dure-de-loffre {
    position: absolute;
    top: 249px;
    left: calc(50% + 427px);
    display: flex;
    align-items: center;
    width: 133px;
    height: 61px;
}

.dure-de-loffre {
    top: 525px;
    left: calc(50% - 66px);
    width: 424px;
}

.adresse,
.nb-places,
.rmunration,
.ville {
    position: absolute;
    top: 641px;
    left: calc(50% - 67px);
    display: flex;
    align-items: center;
    width: 522px;
    height: 61px;
}

.nb-places,
.rmunration,
.ville {
    top: 702px;
    left: calc(50% - 66px);
    width: 133px;
}

.nb-places,
.rmunration {
    top: 761px;
    left: calc(50% - 67px);
    width: 266px;
}

.nb-places {
    top: 819px;
    left: calc(50% - 66px);
    width: 555px;
}

.code-postal,
.date,
.description-de-loffres,
.niveau {
    position: absolute;
    top: 761px;
    left: calc(50% + 249px);
    display: flex;
    align-items: center;
    width: 240px;
    height: 61px;
}

.code-postal,
.date,
.description-de-loffres {
    top: 702px;
    width: 263px;
}

.date,
.description-de-loffres {
    top: 586px;
    left: calc(50% - 66px);
    width: 623px;
}

.description-de-loffres {
    top: 918px;
    left: calc(50% - 67px);
    width: 287px;
}

.en-savoir-plus {
    position: absolute;
    top: 1377px;
    left: 1030px;
    text-decoration: underline;
}

.en-savoir-plus ul a {
    color: var(--color-gray-100);
    transition: color .3s;
}

.en-savoir-plus ul a:hover {
    color: var(--color-springgreen);
}

.postuler {
    position: absolute;
    top: 1230px;
    left: 697px;
    width: 196.35px;
    height: 60px;
    text-align: center;
    color: var(--color-white);
}

.desc-entreprise,
.titre-offre {
    position: absolute;
    display: flex;
    align-items: center;
}

.titre-offre {
    top: 362px;
    left: calc(50% - 61px);
    font-size: 57px;
    text-transform: uppercase;
    font-family: var(--font-rufina);
    color: var(--color-white);
    text-align: center;
    justify-content: center;
    width: 654px;
    height: 119px;
}

.desc-entreprise {
    top: 862px;
    left: calc(50% - 683px);
    font-size: var(--font-size-4xl);
    width: 440px;
    height: 186px;
}

.description {
    position: absolute;
    top: 982px;
    left: calc(50% - 42px);
    font-size: var(--font-size-4xl);
    display: flex;
    align-items: center;
    width: 687px;
    height: 186px;
}

.whishlist {
    position: absolute;
    top: 1234.5px;
    left: 1097.5px;
    width: 196.35px;
    height: 60px;
    text-align: center;
    color: var(--color-white);
}

.note {
    position: absolute;
    top: 818px;
    left: 91px;
    font-size: var(--font-size-xl);
    letter-spacing: 0.13em;
    text-transform: uppercase;
    display: inline-block;
    color: var(--color-springgreen);
    width: 290px;
    height: 24px;
}

.boorder,
.support2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
}

.boorder {
    background-color: var(--color-gray-200);
    height: 2273px;
    overflow: hidden;
    font-size: var(--font-size-6xl);
    color: var(--color-darkgray);
}

.support2 {
    background-color: var(--color-darkslategray);
    height: 369px;
}

.autres {
    position: absolute;
    top: 0;
    left: 373px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 755px;
    height: 200px;
}

.retour {
    position: absolute;
    top: 32px;
    left: 56px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209.63px;
    height: 64px;
}

.accueil {
    position: absolute;
    top: 187px;
    left: 596px;
    width: 308px;
    height: 128px;
    font-size: var(--font-size-17xl);
    font-family: var(--font-dm-sans);
}

.accueil {
    top: 1614px;
    left: 0;
    width: 1500px;
    height: 369px;
    text-align: center;
    font-size: var(--font-size-33xl);
    font-family: var(--font-rufina);
}


.option {
    position: absolute;
    top: 248px;
    left: 1242px;
    border-radius: var(--br-xl);
    background-color: transparent;
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 163px;
    height: 63px;
    color: var(--color-white);
    padding: 5px 15px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option a {
    color: var(--color-white);
}

.option:hover {
    color: inherit;
    background-color: var(--color-springgreen);
}

.modif {
    position: absolute;
    border-radius: var(--br-xl);
    background-color: transparent;
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 163px;
    height: 63px;
    padding: 5px 15px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 248px;
    left: 600px;
}

.modif a {
    color: var(--color-white);
}

.modif:hover {
    color: inherit;
    background-color: var(--color-springgreen);
}

.capge {
    position: absolute;
    top: 525px;
    left: 96px;
    width: 311px;
    height: 264px;
    object-fit: cover;
}

.dtails-offre {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 1990px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-dm-sans);
}