.support {
    position: absolute;
    top: 476px;
    left: 325px;
    width: 877px;
    height: 1848px;
}

.nom,
.prenom {
    position: absolute;
    top: 620.5px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

.nom {
    top: 793.5px;
}

.nom2,
.prnom2 {
    position: absolute;
    top: 556.5px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 133px;
    height: 61px;
}

.nom2 {
    top: 729px;
    width: 243px;
}

.e-mail {
    position: absolute;
    top: 966.5px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

.e-mail3 {
    position: absolute;
    top: 906px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.centre {
    position: absolute;
    top: 1135.5px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

.centreforma,
.texte {
    position: absolute;
    top: 1076px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.texte {
    top: 2116px;
    left: calc(50% - 269px);
    width: 631px;
}

.sinscrire {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--br-19xl);
    background-color: var(--color-springgreen);
    width: 196.35px;
    height: 60px;
    padding: 5px 15px;
    border: 1px solid var(--color-springgreen);
    color: white;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sinscrire:hover {
    color: inherit;
    background-color: var(--color-gray-300);
}

.bouton,
.titre {
    position: absolute;
    text-align: center;
}

.bouton {
    top: 2214px;
    left: 666px;
    width: 196.35px;
    height: 60px;
}

.titre {
    top: 247px;
    left: calc(50% - 327px);
    font-size: var(--font-size-60xl);
    text-transform: uppercase;
    font-family: var(--font-rufina);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 654px;
    height: 119px;
}

.adresse {
    position: absolute;
    top: 1308px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

.adresse3 {
    position: absolute;
    top: 1244px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 509px;
    height: 61px;
}

.promotions {
    position: absolute;
    top: 1654px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.promotions1 {
    position: absolute;
    top: 1590px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 275px;
    height: 61px;
}

.ville,
.cdpos {
    position: absolute;
    top: 1481px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 333px;
    height: 88px;
}

.cdpos {
    left: 840px;
}

.code-postal,
.ville3 {
    position: absolute;
    top: 1417px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 243px;
    height: 61px;
}

.code-postal {
    left: calc(50% + 90px);
}

.mdp1 {
    position: absolute;
    top: 1822.5px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

#certify {
    border: 3px solid;
    border-color: var(--color-springgreen);
    border-radius: 20px;
    height: 41px;
    left: -80px;
    position: absolute;
    width: 52px;
}

.mot-de-passe {
    position: absolute;
    top: 1763px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.mdp {
    position: absolute;
    top: 1991.5px;
    left: 354px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
}

.confmdp {
    position: absolute;
    top: 1932px;
    left: calc(50% - 396px);
    color: var(--color-darkgray);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.crer-pilote {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 2500px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-dm-sans);
}