.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: var((--color-gray-200));
}

.search-bar {
    position: absolute;
    top: 150px;
    left: 620px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-rufina);
    display: flex;
    align-items: center;
    width: 463px;
    height: 83px;
    color: var(--color-white);
    border-radius: var(--br-xl);
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 15px;
    cursor: pointer;
    transition: color 0.5s,
        background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar label {
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-rufina);
    margin-right: 10px;
}

#search {
    width: 100%;
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-rufina);
    padding: 5px;
    border: none;
    border-radius: var(--br-md);
    box-shadow: none;
    outline: none;
}

.search-bar input[type="submit"] {
    font-size: var(--font-size-lg);
    font-weight: 500;
    font-family: var(--font-rufina);
    padding: 5px 10px;
    border: none;
    border-radius: var(--br-md);
    box-shadow: none;
    outline: none;
    background-color: var(--color-springgreen);
    color: var(--color-white);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.search-bar input[type="submit"]:hover {
    background-color: var(--color-darkspringgreen);
}

@media screen and (max-width: 768px) {
    .search-bar {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1010px) {
    .search-bar {
        display: none;
    }
}