/*header*/
.header,
.hover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-darkslategray);
    width: 1500px;
    height: 93px;
}

.hover {
    top: 46px;
    border-radius: var(--br-31xl);
    background-color: var(--color-springgreen);
    width: 92px;
    height: 5px;
}

.acc {
    height: 31px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 30px;
}

.navbar {
    align-items: flex-end;
    background-color: var(--tuatara);
    display: flex;
    gap: 908px;
    height: 93px;
    justify-content: flex-end;
    left: 0;
    min-width: 1500px;
    padding: 18px 66px;
    position: absolute;
    top: 0;
}

.navbar ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
}

.navbar ul li {
    list-style: none;
    margin-left: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color .3s;
}

.navbar ul li a:hover {
    color: #00E472;
}

.menu {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 960px;
    height: 51px;
}

.valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mon-compte {
    padding: 5px 15px;
    background-color: var(--color-springgreen);
    border: 1px solid var(--color-springgreen);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    height: 40px;
    letter-spacing: 0;
    line-height: normal;
    width: 135px;
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
}

.mon-compte:hover {
    color: inherit;
    background-color: var(--color-gray-300);
}

.image-1 {
    height: 112;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 236px;
}

#my-image {
    position: relative;
    bottom: 0;
    right: 0;
    height: 112px;
    object-fit: cover;
    width: 236px;
}

.cadre {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: var(--font-size-3xl);
    width: 877px;
    height: 1747px;
}

.durestage1,
.titre1 {
    position: absolute;
    top: 80.5px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 133px;
    height: 61px;
}

.durestage1 {
    top: 253px;
    width: 243px;
}


.competence1 {
    position: absolute;
    top: 430px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.nvscolaire {
    position: absolute;
    top: 600px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.grandtitre {
    position: absolute;
    font-size: var(--font-size-60xl);
    text-transform: uppercase;
    font-family: var(--font-rufina);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 654px;
    height: 119px;
    margin-top: -300px;
    left: 29px;
}

.nbplaces {
    position: absolute;
    top: 768px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.description1,
.check,
.remuneration1 {
    position: absolute;
    top: 936px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.description1,
.check {
    top: 1104px;
    width: 302px;
}

.check {
    top: 1542px;
    left: calc(50% - 350.5px);
    width: 631px;
}

.publier1 {
    position: absolute;
    top: 14.9px;
    left: 27.33px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133.64px;
    height: 30px;
}

.nom-de-lentreprise {
    position: absolute;
    top: 80.5px;
    left: 29px;
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.confiance {
    position: absolute;
    top: 430px;
    left: 434px;
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.secteur {
    position: absolute;
    top: 600px;
    left: calc(50% - 480.5px);
    display: flex;
    align-items: center;
    width: 333px;
    height: 61px;
}

.objet-1 {
    position: absolute;
    top: 660px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 333px;
    height: 88px;
    color: var(--color-white);
}

.conf {
    position: absolute;
    top: 490px;
    left: 515px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 333px;
    height: 88px;
    color: var(--color-white);
}

.pub {
    position: absolute;
    top: 1644px;
    left: 341px;
    width: 196.35px;
    height: 60px;
    text-align: center;
    color: var(--color-white);
}

#certify {
    border: 3px solid;
    border-color: var(--color-springgreen);
    border-radius: 20px;
    height: 41px;
    left: -80px;
    position: absolute;
    width: 52px;
}


.vector-parent1 {
    position: absolute;
    top: 537px;
    left: 325px;
    width: 1019px;
    height: 1747px;
    font-size: var(--font-size-6xl);
    color: var(--color-darkgray);
}

.titre {
    position: absolute;
    top: 150px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.durestage {
    position: absolute;
    top: 318px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.tel {
    position: absolute;
    top: 490px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 333px;
    height: 88px;
    color: var(--color-white);
}

.vill {
    position: absolute;
    top: 1041px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 333px;
    height: 88px;
    color: var(--color-white);
}

.competence {
    position: absolute;
    top: 490px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.scolaire {
    position: absolute;
    top: 660px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.places {
    position: absolute;
    top: 828px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.remuneration {
    position: absolute;
    top: 996px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 88px;
    color: var(--color-white);
}

.description {
    position: absolute;
    top: 1164px;
    left: 29px;
    border-radius: var(--br-xl);
    background-color: var(--color-silver);
    border: 3px solid var(--color-springgreen);
    box-sizing: border-box;
    width: 819px;
    height: 323px;
    color: var(--color-white);
}


.btn-pub {
    padding: 5px 15px;
    background-color: var(--color-springgreen);
    border: 1px solid var(--color-springgreen);
    color: white;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    right: 200px;
    font-size: var(--font-size-lg);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    top: 0;
    left: 0;
    border-radius: var(--br-19xl);
    width: 196.35px;
    height: 60px;
}

.btn-pub:hover {
    color: inherit;
    background-color: var(--color-gray-300);
}

.a-propos18,
.accueil19,
.avis19,
.contact20 {
    position: absolute;
    top: 33px;
    left: 774px;
    font-size: var(--font-size-5xl);
    text-align: center;
}

.crer-offre {
    position: relative;
    background-color: var(--color-gray-200);
    width: 100%;
    height: 2821px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-white);
    font-family: var(--font-dm-sans);
}

/** Partie Footer /**/

.footer-dark {
    padding: 70px 0;
    color: var(--color-white);
    background-color: var(--color-darkslategray);
}

.footer-dark h3 {
    margin-top: 0;
    color: var(--color-springgreen);
    margin-bottom: 12px;
    font-style: normal;
    font-family: var(--font-family-dm_sans);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
}

.footer-dark ul {
    padding: 20px;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    font-family: var(--font-family-dm_sans);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-s);
    line-height: 26px;
}

.footer-dark ul a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

#my-image {
    position: relative;
    bottom: 0;
    right: 0;
    height: 112px;
    object-fit: cover;
    width: 236px;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }

    img#my-image {
        position: static;
        display: block;
        margin: 0 auto;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
    margin-bottom: 20px;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.col-entreprise {
    position: relative;
    left: 300px;
    object-fit: cover;
    width: 236px;
}

.col-cesi {
    position: relative;
    left: 500px;
    object-fit: cover;
    width: 236px;
}

.image-1-icon {
    align-self: flex-end;
    height: 112px;
    margin-left: 136px;
    object-fit: cover;
    width: 237px;
}

.container-footer {
    display: flex;
}

.container-footer div {
    align-items: center;
    margin: 0px;
}

.image-foote {
    align-self: flex-end;
    height: 112px;
    margin-left: 136px;
    object-fit: cover;
    width: 237px;
}