body {
    margin: 0;
    line-height: normal;
}

:root {
    /* fonts */
    --font-dm-sans: "DM Sans";
    --font-rufina: Rufina;
    --font-salsa: Salsa;
    --font-montserrat: Montserrat;

    /* font sizes */
    --font-size-xl: 20px;
    --font-size-17xl: 36px;
    --font-size-6xl: 25px;
    --font-size-lg: 18px;
    --font-size-lgi: 19px;
    --font-size-26xl: 45px;
    --font-size-3xl: 22px;
    --font-size-5xl: 24px;
    --font-size-11xl: 30px;
    --font-size-33xl: 52px;
    --font-size-60xl: 79px;
    --font-size-13xl: 32px;
    --font-size-4xl: 23px;
    --font-size-43xl: 62px;
    --font-size-50xl: 69px;
    --font-size-29xl: 48px;
    --font-size-45xl: 64px;
    --font-size-7xl: 26px;

    /* Colors */
    --color-gray-100: #808080;
    --color-gray-200: #252829;
    --color-gray-300: rgba(255, 255, 255, 0);
    --color-white: #fff;
    --color-springgreen: #00e472;
    --color-darkslategray: #313536;
    --color-darkgray: #abaeb0;
    --color-silver: rgba(196, 196, 196, 0);

    /* border radiuses */
    --br-mini: 15px;
    --br-19xl: 38px;
    --br-3xs: 10px;
    --br-31xl: 50px;
    --br-xl: 20px;
}