html{
    background-color: black;
}
/** partie Filtre**/
.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1437px;
    height: 235px;
    padding: 5px;
  }
  
  .Chercher,
  .localisation,
  .niveauscolaire,
  .secteur,
  .competence,
  .Entreprise {
    box-sizing: border-box;
    width: 250px;
    height: 88px;
    border: 3px solid #00E472;
    border-radius: 20px;
    margin-bottom: 10px;
  }

  .box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1173px;
    height: 354px;
    
    margin: 84px;
    background-color: #313536;
    padding: 20px;
}

.cap{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-width: 272px;
    height: auto;
    margin-bottom: 20px;
}

h4{
    position: absolute;
    left:300px;
    top: 3px;
    transform: translate(-50%, -50%);
    max-width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #00E472;
    margin-bottom: 10px;
}
h1{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    flex: 1;
    max-width: 100%;
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 400;
    font-size: 62px;
    line-height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
p{
    max-width: 100%;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #ABAEB0;
    margin: 0;
    position: absolute;
    left: calc(50% - 720px/2 + 16.8%);
    top: calc(100% - 53.67%);
}






@media screen and (min-width: 768px) {
    .box{
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
    }

    .cap{
        margin-bottom: 0;
    }

    h1{
        max-width: 703px;
    }
}
