.pagination {
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li a {
    color: white;
}

.active {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}